@media screen and (max-width: 768px) {
  .nav {
    display: none;
  }
  .dropdown {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
   
  }
  .home-content{
    max-width: 100%;
    
   
  }
  .home-content h1{
    font-size: 2.2rem;
    color: #333;
  }
  .home-content span{
    font-size: 1.6rem;
    color: #c9536b;
    padding: 10px 0;
    line-height: 1;
  }
  .heading{
    font-size: 2.2rem;
  }
  .row{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .icons-section{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .icons{
    width: 100%;
    
    flex: 1 1 5rem;
    
    
  }
  .icons img{
    width: 50px;
    height: 30px;
  }
  .icons h3{
    font-size: 1.5rem;
    padding: 3px 0;
    line-height: 1..2;
  }
  .icons p{
    font-size: 1.5rem;
    color: #666;
    margin-bottom: 10px;
   
  }
}

